/* Sim.css */
.batch-reactor-screen {
    margin: 50px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #242424;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .batch-reactor-screen h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="number"]:focus {
    outline: none;
    border-color: #646cff;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #646cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-submit:hover {
    background-color: #4444ff;
  }
  
  body {
    margin: 0;
    background-color: #242424;
    min-height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #ffffff;
  }
  
  .pipeline-alert {
    background-color: #242424;
    border-color: black;
    color: #646cff;
    font-weight: 600;
    border-radius: 1px;
    padding: 15px;
    margin: 15px;
  }
  